<div class="" style="width: 400px; margin: 0px auto;">
  <h4>
    This is a demo for the LightRules API Integration.
  </h4>
  <br>
  <h4>To use this demo, on a LightRule Appliance create a user with only "Reporting" and "Operations" Roles.
  After saving the user, click on the new user's name to access the user details page. On the user's detail page you should see an API Key. Copy the API key which will be required when adding a New Application.</h4>
  <br>
  {{folding-cube}}
</div>
